img{
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.hero{
margin-top: 25px; 
margin-left: auto;
margin-right: auto;
margin-bottom: 80px;
display: block;
}
.navbar {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.note{
    margin-top: 50px;
}
